.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 80%;
}

.example-form {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.example-full-width {
  width: 100%;
}

.is-grouped {
  text-align: center;
}

.divider {
  width: 15px;
  height: auto;
  display: inline-block;
}
