<div>
  <mat-card class="example-form">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="register(formDirective)" #formDirective="ngForm">
    <mat-card-content>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="text" formControlName="username">
          <mat-error *ngIf="form.get('username').hasError('required')">Email Is required</mat-error>
          <mat-error *ngIf="form.get('username').hasError('email')">Email format invalid</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error *ngIf="form.get('password').hasError('required')">Password Is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">
            <mat-error *ngIf="form.get('confirmPassword').hasError('required')">Password Is required</mat-error>
            <mat-error *ngIf="form.get('confirmPassword').hasError('confirmPass')">Password must match</mat-error>
        </mat-form-field>

        <mat-error *ngIf="!!errorRegister">{{ errorRegister.error }}</mat-error>

    </mat-card-content>
    <mat-card-actions class="is-grouped">

      <button mat-raised-button color="primary" (click)="back()">Back</button>
      <div class="divider"></div>
      <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">Register</button>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>

    </mat-card-actions>
  </form>
  </mat-card>
</div>
